.history-div {
    max-width: 600px;
    justify-content: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.history-title {
    font-size: 45px;
    font-family: 'Pattaya', sans-serif;
    color: royalblue
}

.wiki-line {
    font-size: 15px;
}