.navbar {
    text-align: center;
    justify-content: center;
    width: auto;
    border: 6px outset rgb(106, 157, 251);
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-font {
    font-size: 25px;
    font-family: 'Pattaya', sans-serif;
    color: royalblue
}

.nav-font:hover {
    color:rgb(129, 173, 255)
}

a {
    text-decoration: none;
}

