.review {
    padding-right: 85px;
    padding-left: 85px;
    color: rgb(50, 61, 156);
}

.user {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: rgb(60, 134, 253);
}

.content {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
}